.card {
  border: red 1px solid;
  margin: 10px;
  width: 250px;
  height: 350px;
}
.cards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}
img {
  height: 150px;
  width: 250px;
  object-fit: contain;
  position: absolute;
}
h2 {
  text-align: center;
  font-size: 15px;
}
